:root {
    --lightpink: #ECBFBF;
    --darkerpink: #D5A8A8; 
    --black: #000000;
    --white: #FFFFFF;
    --gray: #666;
    --light-gray: #ccc;
}

/* Base Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    color: var(--black);
}

/* Chat Container */
.chat-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px var(--light-gray);
    background-color: #fff; 
    border-radius: 10px; 
}

/* Messages Container */
.messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid var(--light-gray);
    padding: 10px;
    background-color: var(--white); 
}

/* Individual Messages */
.message {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sent {
    text-align: right;
    background-color: var(--darkerpink); 
    color: var(--white);
}

.received {
    text-align: left;
    background-color: #f2f2f2; 
}

.details {
    font-size: 0.8em;
    opacity: 0.6;
    color: var(--gray); 
}

textarea {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--light-gray);
    border-radius: 5px;
}

/* Send Button */
button {
    padding: 10px 20px;
    background-color: var(--darkerpink); 
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px; 
    width: auto; 
}

a {
    color: var(--darkerpink); 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

@media (max-width: 768px) {
    .chat-container {
        width: 95%; 
        padding: 10px;
    }
}
