@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lexend+Mega:wght@100..900&display=swap');

:root {
    --lightpink: #ECBFBF;
    --darkerpink: #D5A8A8; 
    --black: #000000;
    --white: #FFFFFF;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Mega', sans-serif;
    background-color: var(--white); 
}

header {
    background-color: var(--white);
    padding: 10px 20px;
}


.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5em;
}


.logo {
    flex-grow: 2;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}


.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--white);
    color: var(--black);
}

.actions span img{
    width: 20px; 
    height: auto; 
}


.promo-message {
    background-color: var(--black);
    color: var(--lightpink); 
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.promo-message button {
    font-family: 'Lexend Mega';
    background-color: var(--white);
    height: 2.5em;
    font-weight: 900;
    font-size: 0.8em;
    border-color: var(--white);
    margin-left: 40px;
}

.category-bar ul {
    text-transform: uppercase;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: var(--white); 
}

.category-bar li {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 17px 15px;
    color: var(--black);
}

.main-bar {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: var(--lightpink);
}


.main-bar img {
    position: absolute;
    height: 38em;
    margin-top: 2em;
    margin-left: 62em;
}

.main-text {
    margin-top: 6em;
    margin-bottom: 10em;
}

.main-text span {
    display: block;
    margin-left: 7em;
}

.main-text span:first-of-type, .main-text span:nth-of-type(2){
    flex-grow: 1;
    margin-right: 2em;
    font-weight: bolder;
    font-size: 5em;
}


.main-text span:last-of-type {
    font-size: 1em;
    margin-left: 34.8em;
}

.search-bar {
    font-size: 16px;
    flex-grow: 1; 
    width: 53%;
    margin-left: 0.6em;
}

nav ul {
    list-style: none;
    display: flex;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.top-picks {
    margin-top: 4em;
 
    padding: 20px;
    margin-bottom: 50px; 
}

.top-picks .item {
    width: 20%;
    display: inline-block;
    margin-right: 10px;
}

.top-picks .item img {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: var(--darkerpink); 
    margin-top: 50px; 
}



.category-bar a {
    color: black; 
    text-decoration: none; /* Remove sublinhado */
    display: block; /* clicar */
}

.category-bar a:hover {
    text-decoration: underline; /* quando se passa com o cursor sublinha */
}


.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    transform: translateX(-50%); 
    background-color: var(--white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 120px;
    text-align: left;
}


.dropdown-content a {
    color: var(--black);
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--lightpink);
}

.profile-dropdown.show .dropdown-content {
    display: block;
}


.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}


.search-bar button {
    background-color: var(--black);  /* Button color */
    color: var(--white);  /* Text color */
    border: none;  /* Remove border */
    padding: 12px 20px;  /* Padding for better sizing */
    font-family: 'Lexend Mega', sans-serif;  /* Consistent font */
    font-weight: bold;  /* Bold text */
    font-size: 1rem;  /* Size of the text */
    cursor: pointer;  /* Cursor indicates clickable */
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}

.search-bar button:hover {
    background-color: var(--darkerpink);  /* Darker on hover */
}


@media only screen and (max-width: 768px) {
    .top-bar {
        align-items: center;
    }

    .logo {
        font-size: 0.5em;
    }

    .actions {
        font-size: 0.4em;
        gap: 10px;
        margin-top: 10px;
    }

    .promo-message {
        font-size: 16px;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 0.4em;
        width: 100%;
        text-align: center;
    }

    .promo-message button {
        height: 2.5em;
        font-weight: 900;
        font-size: 0.8em;
        border-color: var(--white);
        margin-left: 40px;
        line-height: 1em;
    }

    .category-bar ul {
        text-transform: uppercase;
        display: flex;
        list-style-type: none;
        font-size: 0.4em;
        margin: 0;
        padding: 0;
        align-content: center;
        justify-content: center;
        background-color: var(--white); 
    }
    .category-bar li {
        margin-top: 0em; 
        margin-bottom: 0em; 
        padding: 0 15px;
        color: var(--black);
    }


    .main-bar {
        flex-direction: column;
        align-items: center;
        padding: 1em;
        font-size: 0.8em;
    }

    .main-bar img {
        display: none;
    }

    .main-text {
        margin-top: 2em;
        margin-bottom: 4em;
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }

    .main-text span {
        margin-left: 0;
        margin-right: 0;
        text-align: center; /* Center align the text */
    }

    .main-text span:first-of-type,
    .main-text span:nth-of-type(2) {
        font-size: 2em; /* Adjust font size for smaller screens */
    }

    .main-text span:last-of-type {
        font-size: 0.8em; /* Adjust font size for smaller screens */
        margin-left: 0;
    }


    .search-bar {
        width: 90%;
        height: 0em;
        margin: 1em auto;
    }

    .search-bar form {
        height: 0.2em;
    }

    .items {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }


    .top-picks .item {
        width: calc(50% - 20px);
        margin: 10px;
    }

    .top-picks {
        font-size: 0.5em;
        margin-top: 4em;
        padding: 20px;
        margin-bottom: 50px; 
    }

    footer {
        font-size: 0.5em;
    }

    

    
}
