@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lexend+Mega:wght@100..900&display=swap');

:root {
    --lightpink: #ECBFBF;
    --darkerpink: #D5A8A8; 
    --black: #000000;
    --white: #FFFFFF;
}


body, html {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--white)
}

header {
    height: 2em;
    background-color: var(--lightpink);
    padding: 10px 20px;
}

.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}

.top-bar a {
    text-decoration: none;
    color: var(--black);
}

.search-bar {
    flex: 0 1 200px; 
    padding: 8px;
}


.logo {
    text-decoration: none;
    font-weight: bold;
    flex-grow: 2;
    text-align: center;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions span img{
    width: 20px; 
    height: auto; 
}

.category-bar {
    text-transform: uppercase;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.category-bar a {
    color: black; 
    text-decoration: none; 
    display: block;
    font-family: 'Lexend Mega', sans-serif;
}


.category-bar ul {
    text-transform: uppercase;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.category-bar li {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 17px 15px;

}

.category-bar li:hover a {
    text-decoration: underline; 
}

.category-bar li.pink-highlight a {
    color: var(--lightpink); 
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px; 
}

.product {
    width: 250px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding: 10px;
}

.product img {
    width: 100%;
    height: auto;
    display: block; 
}

.product h3 {
    color: #333; 
    font-size: 16px; 
    padding: 5px 0;
}

.product p {
    color: #666; 
    font-size: 14px;
    margin: 5px 0;
}

.product p:first-of-type {
    color: #888;
    font-size: 12px;
    margin-bottom: 2px;
}


footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: var(--darkerpink); 
    margin-top: 50px; 
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--black); 
}

.product:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .products {
        justify-content: center;
    }

    .product {
        width: 90%; 
    }
    .search-bar {
        width: 100px; 
    }
}

.filter-sidebar {
    width: 200px;  
    float: left;  
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* sombra */
    margin-right: 20px; 
}

.filter-sidebar fieldset {
    margin-bottom: 20px; /* Add margin between each fieldset */
}

.filter-sidebar label {
    display: block;
    margin-top: 5px; /* Add margin between each label */
}


.filter-sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.filter-sidebar form {
    display: flex;
    flex-direction: column;
}

.filter-sidebar label {
    font-weight: bold;
    margin-top: 10px;
}

.filter-sidebar select, .filter-sidebar input[type="text"] {
    padding: 8px;
    margin-top: 5px;
}

.filter-sidebar button[type="submit"] {
    background-color: var(--lightpink);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.filter-sidebar button[type="submit"]:hover {
    background-color: var(--darkerpink);
}

.filter-sidebar button.reset {
    background-color: transparent; /* Transparent background */
    color: black; /* Black text color */
    border: 1px solid #ccc; /* Grey border */
    padding: 8px 16px; /* Adjust padding */
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin: 4px;
}

.filter-sidebar button.reset:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
}


.sorter-sidebar {
    margin-left: 1.5em;
    
}

.products {
    flex: 1; /* Takes remaining space */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image-container {
    height: 300px; 
    overflow: hidden; 
}

.image-container img {
    width: 100%; 
    height: auto; 
}


.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #e0e0e0;
}

.pagination span {
    font-size: 16px;
}



/* Dropdown Container */
.profile-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content: Initially Hidden */
.dropdown-content {
    display: none;
    position: absolute;
    transform: translateX(-50%); 
    background-color: var(--white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 120px;
    text-align: left;
}


/* Links in the Dropdown */
.dropdown-content a {
    color: var(--black);
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

/* Link Hover Effect */
.dropdown-content a:hover {
    background-color: var(--lightpink);
}

/* Toggling Visibility: Make Dropdown Visible */
.profile-dropdown.show .dropdown-content {
    display: block;
}