<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Elite Finds</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="form-login">
        <div class="logo-login">
            <span class="main-logo">ELITE FINDS</span>
            <span class="tagline">your luxury second-hand bazaar</span>
        </div>
        <h2>Login to continue</h2>
        <form action="../actions/action_login.php" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">LOGIN</button>
        </form>        
        <p>Don’t have an account? <a href="signup.php">Sign up</a></p>
        <p>Or if you have admin privileges <a href="signup_admin.php">Sign up as admin</a></p>
    </div>
</body>
</html>

