<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Elite Finds</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="form-login">
        <div class="logo-login">
            <span class="main-logo">ELITE FINDS</span>
            <span class="tagline">your luxury second-hand bazaar</span>
        </div>
        <h2>Login to continue</h2>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button type="button">LOGIN</button>
        <p>Don’t have an account? <a href="#">Sign up</a></p>
    </div>
</body>
</html>
