<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="form-login">
        <h1>
            <div class="Logo-login">
                <span>ELITE FINDS</span>
                <span>your luxury second hand bazar</span>
            </div>
            <h2>Login to continue</h1>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button>LOGIN</button>
            <h2>Don´t have an account? SIGN UP</h2>
        </h1>
    </div>
</body>
</html>
