<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart - Elite Finds</title>
    <link rel="stylesheet" href="../css/shopping_cart.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <input type="text" placeholder="Search" class="search-bar">
            <span class="logo"><a href="../index.html" style="color: inherit; text-decoration: none;">ELITE FINDS</a></span>
            <div class="actions">
                <span>H</span>
                <span>N</span>
                <span><img src="../images/icons/shopping_cart_icon.png" alt="Shopping Cart"></span>
                
            </div>
    </header>

    <main>
        <h1>Shopping cart</h1>
        <div class="cart-item">
            <img src="../images/items/item20_1.png" alt="Vintage Gucci Dress">
            <div class="item-details">
                <h3>Vintage Gucci Dress</h3>
                <p>36 EU</p>
                <p>Seller: @marysmith</p>
                <span class="item-price">€ 60,00</span>
            </div>
        </div>
        
       
        <div class="cart-item">
            <img src="../images/items/item20_1.png" alt="Vintage Chanel Dress">
            <div class="item-details">
                <h3>Vintage Chanel Dress</h3>
                <p>38 EU</p>
                <p>Seller: @johnsmith</p>
                <span class="item-price">€ 120,00</span>
            </div>
        </div>


        <div class="cart-item">
            <img src="../images/items/item20_1.png" alt="Vintage Chanel Dress">
            <div class="item-details">
                <h3>Vintage Chanel Dress</h3>
                <p>38 EU</p>
                <p>Seller: @johnsmith</p>
                <span class="item-price">€ 120,00</span>
            </div>
        </div>


        <div class="cart-summary">
            <div class="line"></div> <!-- linha horizontal -->
            <p class="subtotal">SUBTOTAL: <span>€ 240,00</span></p>
            <p class="shipping">SHIPPING: <span>€ 10,00</span></p>
            <p class="total">TOTAL: <span>€ 250,00</span></p>
            <button class="checkout-btn">CHECKOUT</button>
        </div>
        
    </main>

    <footer>
        <div class="footer-section">
            <p>Customer Care</p>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Refer a friend</a></li>
                <li><a href="#">Shipping info</a></li>
                <li><a href="#">Returns policy</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <p>Company</p>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">How to sell</a></li>
                <li><a href="#">Terms of service</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
