<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - Elite Finds</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    <div class="form-signup">
        <div class="logo-signup">
            <span class="main-logo">ELITE FINDS</span>
            <span class="tagline">your luxury second-hand bazaar</span>
        </div>
        <h2>Create an account</h2>

        <div class="form-group">
            <label for="fname">First Name</label>
                <input type="text" id="fname">

            <label for="lname">Last Name</label>
                <input type="text" id="lname">

            <label for="email">Email</label>
                <input type="text" id="email">
            
            <label for="username">Username</label>
                <input type="text" id="username">

            <label for="address">Address</label>
                <input type="text" id="address">
            <div class="nolabel">
                
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
            </div>

            <label for="profile-pic">Profile Picture</label>
                <input type="file" id="profile-pic" accept="image/*">
        </div>
        <button type="button">SIGN UP</button>

        <p>Already have an account? <a href="login.html">Login</a></p>
    </div>
</body>
</html>
